.header {
  background-color: #fbf8f3;

  &-inner {
    max-width: 128rem;
    margin: 0 auto;
    @extend .flex;
    justify-content: space-between;
  }

  .main-nav {
    &__menu {
      @extend .flex;
    }
  }
}
