.header {
  background-color: #fbf8f3;
  margin-bottom: 3rem;
  width: 100vw;
  background: 100% 100%;
  padding-bottom: 8rem;

  @include respond(phone) {
    padding-bottom: 0;
    margin-bottom: 5rem;
  }

  &-inner {
    padding: 0 3rem;
    max-width: 128rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
  }

  .main-nav {
    &__menu {
      @extend .flex;

      &-item {
        font-size: 1.6rem;
        font-weight: 500;
        padding: 0.5rem 1rem;
      }
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__btn-container {
    @include respond(phone) {
      display: none;
    }
  }
}

.sidebar {
  position: fixed;
  inset: 0;
  z-index: 10;
  padding: 3rem;
  width: 100vw;
  background-color: #fff;
  // opacity: 0;
  transform-origin: 50% 0%;
  transform: scale(0);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width: 768px) {
    display: none;
  }
  &__menu {
    display: flex;
    align-items: center;

    flex-direction: column;
    margin-top: 6rem;
  }

  &__menu-item {
    width: 90%;
    margin: 1rem 0;
    background-color: #7447dd;
    border-radius: 5px;

    &:hover {
      background-color: #4d13d1;
    }
  }
  &__menu-link {
    font-size: 2rem;
    padding: 2rem;
    display: block;
    color: #fbf8f3;
  }
  .btn-container {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 3rem;
  }

  .close {
    position: absolute;
    top: 3rem;
    right: 7rem;
    font-size: 2rem;
    color: #4d13d1;
    cursor: pointer;
  }
}

.show {
  // opacity: 100%;

  border-radius: 0%;
  transform: scale(1);
}
