.section {
  &-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 2rem;
    grid-auto-flow: dense;
    &__text-content {
      margin-top: 12rem;
      order: 2;

      @include respond(tab-land) {
        margin-top: 4rem;
      }
    }

    &__img-content {
      order: 1;
      border-radius: 50%;
    }
  }

  &-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    &__text-content {
      .heading-secondary {
        width: 50%;

        @include respond(tab-port) {
          width: 100%;
        }
      }
    }

    .highlight--blue {
      display: inline-block;
      margin-bottom: 1rem;
    }

    &__img-content {
      background-color: #4d13d1;
      border-radius: 7px;
      padding: 4rem;
      padding-bottom: 0;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-gap: 5rem;
      margin-bottom: 5rem;
      overflow: hidden;

      .text-box {
        margin-top: 1rem;
        max-width: 85%;
        color: #fff;

        @include respond(phone) {
          justify-self: center;
        }

        button {
          margin: 1.5rem 0;
          @include respond(sm-phone) {
            width: 100%;
          }
        }
      }
      img {
        @include respond(sm-phone) {
          width: fit-content;
        }
      }
    }
  }

  &__signup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .logo-box {
      .logo {
        position: absolute;
        top: 5rem;
        font-size: 2.5rem;
        font-weight: 600;
        margin-left: 1rem;
        display: block;
      }
    }

    &__text-content {
      margin-top: 12rem;
      .form {
        padding: 2rem;

        font-size: 1.4rem;
        font-weight: 500;
        .form-group {
          display: flex;
          justify-content: start;
          flex-direction: column;
          margin: 2.5rem 0;

          label {
            margin-bottom: 0.75rem;
          }
          input {
            padding: 1.25rem;
            border: 1px solid #dadada;
            border-radius: 5px;
          }
          &--password {
            position: relative;

            img {
              position: absolute;
              right: 0;
              top: 50%;
              right: 1rem;
              cursor: pointer;
            }
          }

          &--checkbox {
            font-weight: 400;
            flex-direction: row;

            label {
              span {
                color: #4d13d1;
                text-decoration: underline;
                font-weight: 600;
                display: block;
              }
            }
            input {
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.5rem;
            }
          }

          &--btn {
            button {
              color: #fff;
              margin-left: 1.5rem;
            }

            p {
              text-align: center;
              font-weight: 400;
              margin-top: 1rem;

              span {
                color: #4d13d1;
              }
            }
          }
        }
      }
    }
    &__img-content {
      background-color: #4d13d1;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;

      @media screen and (max-width: 768px) {
        display: none;
      }
      .container {
        .img {
          max-width: 75%;
          margin: 13rem auto;
          @media screen and (max-width: 1024px) {
            max-width: 100%;
          }
        }
        .text-box {
          color: #fff;
          margin: 0 auto;
          padding: 0 10rem;
          margin-top: -10rem;
          // width: 50%;

          .lead {
            font-size: 1.8rem;
            line-height: 1.7;
          }
        }
      }
    }
  }
}
