@import "./responsive";
@import "./header";
@import "./section";
@import "./footer";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  @include respond(tab-land) {
    font-size: 60%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 70%;
  }
}

body {
  font-family: "Inter", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger-box {
  display: none;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.lead {
  &-1,
  &-2,
  &-3 {
    font-size: 1.8rem;
    color: #4f4f4f;
    margin: 1rem 0;
  }
  &-2 {
    font-size: 1.6rem;
    color: #000;
    line-height: 1.4;
  }

  &-3 {
    color: inherit;
  }
}

.heading {
  &-primary {
    font-size: 5rem;
  }
  &-secondary {
    font-size: 4rem;
  }
  &-tertiary {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.highlight--blue {
  text-decoration: underline;
  color: #4d13d1;
  font-weight: 700;
  font-size: 1.8rem;
}

.reviews-container {
  @extend .flex;
  justify-content: start;
  margin-bottom: 1rem;
  img {
    padding: 0 0.25rem;
  }
  span {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0.75rem;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  .checkbox {
    img {
      padding-right: 0.75rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
}

.btn-container {
  color: #fff;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.btn--blue,
.btn--transparent,
.btn--white {
  color: inherit;
  background-color: #4d13d1;
  padding: 1.5rem 1.75rem;
  margin-right: 2rem;
  font-weight: 600;
  font-size: inherit;
  border-radius: 5px;
  cursor: pointer;
}

.btn--transparent {
  background: transparent;
  color: #000;
}

.btn--white {
  font-size: 1.4rem;
  background-color: #fff;
  color: #4d13d1;
}

.description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 4rem;
  margin: 3.5rem 0;

  h4 {
    margin: 1.5rem 0;
    font-size: 1.6rem;
  }

  @include respond(phone) {
    grid-gap: 2rem;
  }
}

.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  justify-items: center;

  .card {
    padding: 3em;
    border-radius: 7px;
    border: 1px solid #dadada;
  }
  .avatar {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;

    &-img {
      margin-right: 1.5rem;
    }

    p {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  .highlight--blue {
    margin-bottom: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
  }

  .card-btn {
    max-width: 100%;
    color: #4d13d1;
    font-weight: 600;
    margin: 1rem 0;
    border: 1px solid #dadada;
    padding: 1.25rem;
    font-size: 1.5rem;
    border-radius: 7px;
    width: 100%;
  }
}
