@import "./header";
@import "./section";
@import "./footer";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead {
  &-1 {
  }
  &-2 {
  }
}

.heading {
  &-primary {
  }
  &-secondary {
  }
  &-tertiary {
  }
}

.highlight--blue {
}
