@import "./responsive";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 60%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 70%;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: #505f6f;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #505f6f;
}

li {
  list-style: none;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.heading {
  &-primary {
    color: #241c65;
    font-size: 4rem;
  }
  &-secondary {
    color: #241c65;
    font-size: 3rem;
  }
  &-tertiary {
    &--blue {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    &--black {
      color: #000;
      margin-bottom: 1.5rem;
    }
  }
}

.lead {
  font-size: 1.6rem;
  margin: 1.5rem 0;
}
.btn,
.demo {
  border: none;
  background-color: #241c65;
  color: #fff;
  border-radius: 5px;
  margin: 0 0.5rem 2rem 0;
  font-size: 1.6rem;
  padding: 2rem;
  cursor: pointer;
  font-weight: 700;
}

.demo {
  color: #505f6f;
  font-weight: 700;
  background-color: transparent;
}

.highlight {
  &--blue {
    color: #241c65;
    text-decoration: underline;
  }
}

.hamburger-box {
  display: none;
}

@include respond(phone) {
  .hamburger-box {
    display: block;
  }

  .main-nav {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }
}

.terms {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.6rem;
  h4 {
    color: #241c65;
    letter-spacing: 0.2px;
  }
  img {
    padding: 0.75rem;
  }
}

// header
.header {
  display: grid;
  grid-template-columns: 5% auto;
  align-items: center;
  margin: 2.5rem 0;
  padding: 1rem;
  height: 10vh;

  &__logo-box {
    width: 150px;
  }
}

.main-nav {
  z-index: 3;
  &__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &-link {
      margin: 1.5rem;
      font-size: 1.8rem;
    }

    .item-btn {
      margin-right: 10rem;
      margin-left: auto;
      justify-self: flex-end;
    }
  }
}

// sections
.section {
  &-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 14rem;
    padding: 0 2rem;
    grid-gap: 2rem;

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }

    &__text-content {
      @include respond(tab-port) {
        .btn-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .btn,
          .demo {
            margin-bottom: 0;
          }
        }
        .terms {
          text-align: center;
        }
      }
    }

    &__img-content {
      z-index: 2;
      perspective: 1000px;
      display: grid;
      grid-template-columns: minmax(50%, 1fr);
      position: relative;

      img {
        margin-top: 2rem;
        border-radius: 5px;
        transform: rotateY(-25deg);
        box-shadow: 15px 10px 5px rgba(70, 202, 220, 0.8);
        transition: 0.3s all ease-in-out;

        &:hover {
          transform: rotateY(0);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);

          @include respond(tab-port) {
            transform: none;
            box-shadow: none;
          }
        }

        @include respond(tab-port) {
          transform: none;
          box-shadow: none;
          padding-left: 3.5rem;
        }
        @include respond(phone) {
          padding: 2rem;
        }
      }

      @include respond(tab-port) {
        &::after {
          content: "";
          height: 150%;
          width: 100%;
          background-color: rgb(70, 202, 220);
          position: absolute;
          top: -16rem;
          left: 2rem;
          right: 0;
          bottom: 0;
          z-index: -5;
        }
      }

      @include respond(phone) {
        &::after {
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }

    @include respond(tab-port) {
      grid-template-columns: 40% 60%;
    }
  }

  &-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem 1rem;
    grid-gap: 2rem;
    border-radius: 5px;
    background-color: rgba(102, 51, 153, 0.075);

    @include respond(tab-port) {
      grid-template-columns: 1fr;
      background-color: inherit;
      grid-gap: 0;
      padding: 2.5rem 1rem;
    }

    @include respond(phone) {
      grid-template-rows: auto auto;
      grid-template-columns: 100%;
    }

    &__article-1 {
      padding: 1rem;
      .avatar-box {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        margin: 2rem 0;

        @include respond(tab-port) {
          // margin: 0;
          padding: 0 5rem;
        }
        @include respond(phone) {
          width: 100%;
          padding: 0;
        }
      }

      @include respond(tab-port) {
        display: grid;
        grid-template-columns: 40% 60%;
        align-items: start;

        .heading-secondary {
          padding: 1rem;
        }
      }
      @include respond(phone) {
        display: flex;
        flex-direction: column;
      }
    }

    @include respond(tab-port) {
      &__article-2 {
        width: 80%;
        padding: 0 2rem;
        @include respond(phone) {
          width: 100%;
        }
      }
    }
  }

  &-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
    padding: 5rem 1.5rem;
    border-radius: 5px;

    @include respond(tab-port) {
      background-color: rgba(102, 51, 153, 0.075);
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      padding: 3rem 1.5rem;
    }

    .demo {
      margin: 2rem 0;
      padding: 0;
    }
  }
}

.footer {
  margin: 2rem 0;
  font-size: 1.6rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "logo logo logo logo"
    "product help1 company form";

  li {
    margin: 1rem 0;
  }

  .product {
    grid-area: product;
  }
  .help {
    grid-area: help1;
  }
  .company {
    grid-area: company;
  }

  &__logo-box {
    grid-area: logo;
    margin-bottom: 1rem;
  }

  &__form {
    grid-area: form;

    @include respond(tab-port) {
      grid-row: 4 / 6;
      grid-column: 1 / 6;
      margin-top: 2rem;
    }

    label {
      display: block;
      margin-bottom: 1rem;
      font-weight: 700;
    }

    .input-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.15rem;
      border: 1px solid #8ca8c7;
      display: inline-block;
      width: fit-content;
      border-radius: 5px;

      @include respond(phone) {
        border: none;
      }
    }
    input {
      border: none;
      font-family: inherit;
      font-size: 1.6rem;
      padding: 1.8rem;
      margin-right: 0.5rem;

      @include respond(phone) {
        margin-bottom: 1.2rem;
        width: 42%;
        margin-right: 0;
        border: 1px solid #8ca8c7;
        border-radius: 5px;
      }
    }

    .btn {
      margin: 0;
    }
  }
}

// Pricing page

// slider switch

.toggle-switch {
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      transition: 0.4s;
    }
  }

  .slider.round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }
  input {
    &:checked + .slider {
      background: #2196f3;

      &::before {
        transform: translateX(26px);
      }
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196f3;
    }
  }
}
