@import "./responsive";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #505f6f;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #505f6f;
}

li {
  list-style: none;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 2rem;
  &::after {
    content: "";
    width: 50vw;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #46cadc;
  }
}

.heading {
  &-primary {
    color: #241c65;
    font-size: 4rem;
  }
  &-secondary {
    color: #241c65;
    font-size: 3rem;
  }
  &-tertiary {
    &--blue {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    &--black {
      color: #000;
      margin-bottom: 1.5rem;
    }
  }
}

.lead {
  font-size: 1.6rem;
  margin: 1.5rem 0;
}
.btn,
.demo {
  border: none;
  background-color: #241c65;
  color: #fff;
  border-radius: 5px;
  margin: 0 0.5rem 2rem 0;
  font-size: 1.6rem;
  padding: 2rem;
  cursor: pointer;
  font-weight: 700;
}

.demo {
  color: #505f6f;
  font-weight: 700;
  background-color: transparent;
}

.highlight {
  &--blue {
    color: #241c65;
    text-decoration: underline;
  }
}

.terms {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  h4 {
    color: #241c65;
    letter-spacing: 0.2px;
  }
  img {
    margin-right: 1rem;
  }
}

// header
.header {
  display: grid;
  grid-template-rows: 1fr;
  margin: 2.5rem 0;
  padding: 1rem;
  height: 10vh;
  position: relative;

  &__logo-box {
  }
}

.main-nav {
  z-index: 3;
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      &:last-child {
      }
    }

    &-link {
      margin: 1rem;
    }
  }
}

// sections
.section {
  &-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 14rem;

    &__text-content {
    }

    &__img-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      z-index: 2;
      // padding-left: 6rem;
      img {
        // object-fit: contain;
      }
    }
  }

  &-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    grid-gap: 14rem;
    margin-bottom: 7rem;

    &__article-1 {
      .avatar-box {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
        // display: flex;
        // justify-content: space-between;
        margin: 3rem 0;
      }

      img {
      }
    }
  }

  &-3 {
    grid-gap: 14rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 7rem;

    // &::before {
    //   position: absolute;
    //   content: "";
    //   top: 0;
    //   left: 0;

    //   height: 100%;
    //   width: 100vw;
    //   z-index: -5;
    //   background-color: #cbf8ff;
    // }
    .demo {
      margin: 2rem 0;
      padding: 0;
    }
  }
}

.footer {
  margin: 2rem 0;
  font-size: 1.6rem;
  display: grid;
  grid-template-areas:
    "
logo logo logo logo"
    "product help company form
";

  li {
    margin: 1rem 0;
  }

  &__logo-box {
    grid-area: logo;
    margin-bottom: 1rem;
  }

  &__form {
    label {
      display: block;
      margin-bottom: 1rem;
      font-weight: 700;
    }

    .input-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.2rem;
      border: 1px solid #8ca8c7;
      display: inline-block;
      border-radius: 5px;
    }
    input {
      border: none;
      font-family: inherit;
      font-size: 1.6rem;
      padding: 1.8rem;
      margin-right: 0.5rem;
    }

    .btn {
      margin: 0;
    }
  }
}
