@import "./responsive";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 60%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 70%;
  }
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f6f9fe;
  color: #545454;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1.6rem;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.hamburger-box {
  display: none;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.sidebar {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  inset: 0;
  padding: 4rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(-100%);
  @media screen and (min-width: 768px) {
    display: none;
  }

  &__menu {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin: 1rem 0;
    border-radius: 5px;
    background-color: #6f54be;
  }

  &__link {
    font-size: 3rem;
    font-weight: 600;
    display: block;
    padding: 1rem;
    color: #fff;
  }

  .close {
    position: absolute;
    top: 6rem;
    right: 6rem;
    color: rgb(116, 6, 6);
    font-size: 2.5rem;

    cursor: pointer;
  }
}

.show {
  opacity: 100%;
  transform: translateX(0);
}

.btn {
  color: #fff;
  background-color: #372865;
  padding: 1.5rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.highlight--purple {
  background-color: #372865;
  display: inline-block;
  padding: 0.75rem 2rem;
  color: #fff;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
  h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.heading {
  &-primary {
    font-size: 5rem;
    line-height: 1.2;
    margin: 1rem 0;
    color: #372865;
  }
}

.lead {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
  .main-nav {
    &__menu {
      display: flex;
      align-items: center;
    }

    &__link {
      padding: 1.5rem;
    }

    @media screen and(max-width:768px) {
      display: none;
    }
  }
}

.section {
  &-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    align-items: center;
    grid-gap: 2rem;

    &__text-content {
      margin-top: 3rem;
    }

    .form {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      input {
        padding: 1.3rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-family: inherit;
        width: 25rem;
        font-size: 1.6rem;

        &::placeholder {
          font-size: 1.6rem;
          color: rgb(128, 128, 128);
        }
      }
    }

    .logo-box {
      align-self: flex-end;
      margin-top: 15rem;

      @include respond(phone) {
        margin-top: 2.5rem;
      }
      h2 {
        font-size: 1.6rem;
        margin-bottom: 0.75rem;
      }

      .logo {
        img {
          padding-right: 1rem;
        }
      }
    }

    &__img-content {
      max-width: 75%;
      justify-self: end;
      align-self: start;

      @include respond(phone) {
        display: none;
      }
      @include respond(tab-port) {
        max-width: 100%;
      }
      @include respond(tab-land) {
        justify-self: center;
      }
    }
  }
}
