.header {
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .main-nav {
    display: none;

    @media screen and(min-width:768px) {
      display: block;
      &__menu {
        color: #000;
        display: flex;

        &-link {
          color: inherit;
          font-size: 1.6rem;
          padding: 0 1.5rem;
        }
      }
    }
  }

  &__logo {
    font-size: 2rem;
  }
  &__btn-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburger-box {
    display: none;
    cursor: pointer;
  }

  .header__btn-container {
    display: block;
  }
}
