@import "./header";
@import "./footer";
@import "./section";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  border: none;
}

.btn {
  &-started {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 0.75rem 1rem;
  }
}

.top-bar {
  text-align: center;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

.checkbox-container {
  margin: 1rem 0;
  .checkbox {
    display: flex;
    align-items: center;
    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 2rem;
}
