*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
}
.btn {
  &-started {
    background-color: #000;
  }
}
