@import "./responsive";
@import "./header";
@import "./footer";
@import "./section";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tab-land) {
    font-size: 60%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 70%;
  }
}

body {
  font-family: "Cabin", sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  border: none;
}

.btn {
  &-started,
  &-login {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    margin: 0 0.5rem;
    padding: 1.5rem;
  }
  &-login {
    background-color: transparent;
    color: #000;
  }
}

.wrapper {
}

.top-bar {
  text-align: center;
  padding: 1.5rem 2rem;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;

  span {
    text-decoration: underline;
  }
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.checkbox-container {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #706a5c;
  font-weight: 400;
  .checkbox {
    display: flex;
    align-items: center;
    margin: 0.75rem 0;
    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }
}

.logo-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 3rem;
}

.heading {
  &-primary {
    font-size: 5rem;
  }

  &-secondary {
    font-size: 4rem;
  }

  &-tertiary {
    color: #fff;
    font-size: 2rem;
  }
}
.lead {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #706a5c;
  font-weight: 300;
  margin: 1rem 0;
}

.learn-more {
  color: #706a5c;
  font-weight: 600;
  font-size: 1.7rem;
  text-decoration: underline;
}

.form {
  margin: 1.5rem 0;
  &-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input {
      width: 18rem;
      border: 1px solid #c5c5c5;
      padding: 1.5rem;
      border-radius: 5px;
      font-size: 1.6rem;

      margin-right: 0.5rem;

      &::placeholder {
        color: #9e9e9e;
        font-weight: 500;
      }
    }
  }
}
